body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
}

h4,h5,ul,li,h6,p{
	margin-bottom: 0px;
}

.container{
	margin-top: 10px;
}

.column>ul:first-of-type{
	text-align: center;
  	list-style: none;
}

.column>ul:first-of-type > li{
  	display: inline;
  	margin-left: 10px;
}

hr{
	margin: 10px 0;
}

.text-center{
	text-align: center;
}

p, table, ul{
	margin-left: 20px;
}

li > p{
	margin-left: 0;
}

i{
	margin-right: 10px;
}