body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-center{
	text-align: center;
}

p, table, ul{
	margin-left: 20px;
}

li > p{
	margin-left: 0;
}

i{
	margin-right: 10px;
}