:root{
  --color-black: #121619;
  --color-blue: #018DFF;
  --color-grey: #525F68;
}

html{

  font-family: 'Rubik', sans-serif;
  //font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

h1,h2,h3,h4,h5{
  font-weight: 500;
  margin: 0;
}

p{

}

body{
  padding-top: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.text-blue{
  color: var(--color-blue);
}

.text-grey{
  color: var(--color-grey);
}

.grid-container{
  display: grid;
  grid-gap: 25px;

  grid-template-areas:
  'header header'
  'main aside'
  'footer footer'
}

header{
  grid-area: header;
}

main{
  grid-area: main;
}

aside{
  grid-area: aside;
}

footer{
  grid-area: footer;
}

nav > ul{
  width: 100%;
  list-style: none;
  //text-align: center;
}

nav > ul > li{
  display: inline;
  float: left;
  width: 25%;
  display: block;
}

li > img{
  float: left;
  width: 24px;
  height: 24px;
}

hr{
  color: var(--color-grey);
  border-style: dashed;
}

hr.bold{
  margin: 0 0 10px 0;
  border-style: solid;
  color: var(--color-black);
}

article > ul{
  padding-left: 18px;
}

article > span{
  height: 24px ;
  line-height: 24px;
}
article > span > img{
  width: 24px;
  height: 24px;
}

